.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.title {
  color: white;
  font-size: 3.5vw;
}

.profile {
  display: flex;
  align-items: center;

  &__users {
    color: grey;
    display: flex;
    font-size: 20px;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    
    a {
      color: grey;
      text-decoration: none
    }

    img {
      border-radius: 0.5rem;
      height: 140px;
      width: 140px;
      margin-bottom: 20px;
    }

    :hover {
      color: white;
    }
  }

  &__user {
    margin-left: 20px;
    margin-top: 20px;
  }

  &__btn-add {
    color: grey;
    font-size: 20px;
    margin-left: 30px;
    position: relative;
    text-align: center;
    top: 20px;

    &::before {
      background-color: gray; 
      -webkit-mask-image: url('../assets/add.svg');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100px;
      -webkit-mask-position: center;
      border-radius: 0.5rem;
      content: "";
      display: block;
      height: 140px;
      left: 0px;
      position: relative;
      top: -20px;
      width: 140px;
    }

    &:hover {
      mask-size: 50px;
      color: white;
      &::before {
        background-color: white;
      }
    }
  }
}
